.top-head{
    display:flex;
    justify-content: space-around;
    background-color: rgb(201, 4, 4);
    color:whitesmoke;
}
.mid-head{
    display: flex;
    justify-content: space-between;
    margin-right: 80px;
    align-items: center;
    background-color:aliceblue
}
.top{
    position: fixed;
    top:0;
}    
.hyd{
    background-color: black;
    height:25px;
    padding:5px;
    border: solid white 1px;
    border-radius:10px;
}
.heading{
    width:340px;
    font-size:30px;
    font-weight:bold;
    
}

.about{
    display: inline-block;
    width:550px;
    font-size: 18px;
    word-spacing: 6px;
    letter-spacing: 0.5px;
       
}
.right{
    display: inline-block;
}
.black{
    font-weight:bold;
    
}
.maroon{
    font-weight:bolder;
    color:rgb(227, 70, 70);
}
.red, .red1{
    font-weight:bold;
    color:red;
}

.right{
    margin-left:250px;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 20px;
    width:400px;
}
.right1{
    
    height:150px;
    width:150px;
    border:solid 1px gray;
    padding:5px;
    margin:0;
    box-shadow:1px 2px 1px 1px;
}
.right1:hover{
    border:solid 1px red;
    box-shadow:1px 2px 1px 1px;
}
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
img{
    width:300px;
}
.sub{
    width:300px;
    height:400px;
    border:1px solid white;
}
.trend{color:white;}
.courses{
    background-color: black;
    color:white;
    padding:50px;
}
.sub1{
    text-align: center;
}
.sub2{
    text-align: center;
}
.adv{
    font-weight:bold;
    font-size:30px;
    text-align: center;
}
.listb{
    margin-left: 140px;
    border: 1px solid black;
    width:500px;
    padding-top:20px;
    padding-bottom: 20px;
    border-radius:20px;
    
}
.list, .video{
    display:inline-block;
    align-items:center;
    margin-right: 50px;
}
.train{
    text-align:center;
}
.but{
    background-color: black;
    color:white;
    border-radius:20px;
    height:40px;
    padding:10px;
    border:none;
    cursor:pointer;
}
.but:hover{
    background-color: rgb(201, 4, 4);
}
.button{
    border:1px solid black;
    padding-top:10px;
    padding-bottom:10px;
    text-align: center;
    border-radius: 50px;
}
.inno, .info{
    display: inline-block;
}
.expert{
    background-color: black;
    color:white;
    display: flex;
    justify-content: space-around;
    padding:30px;
    font-size: 30px;
    font-weight: bold;
}
.phn{
    background-color: rgb(201, 4, 4);
    height:40px;
    padding:5px;
    border: solid white 1px;
    border-radius:10px;
    padding:10px;
    color:white;
}
.page1, .page2{
    display: inline;
}
.read{
    margin-left: 100px;
    font-size:30px;
    font-weight: 500;
}
.sub-py{
    width:400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 100px;
    margin-left: 100px;
}
.sub-py1{
    border:1px black dashed;
}
.desc{
   
    padding:20px;
}
.foot{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 80px;
    background-color: black;
    color:white;
}

a{
    text-decoration: none;
    color:rgb(134, 134, 211)
}
li, li:active{
    
    list-style: none;
    
}
.map{
    width:50px;
    height:50px;
}
.de, .map{
    align-items: center;
}
.base{
    background-color: gray;
    height:10px;
    color:white;
    padding:30px;
    text-align: center;

}
.a{
    color:white;
}